* {
    /* Change your font family */
    font-family: sans-serif;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    width: 700px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #ECF1F8;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
    text-align: left;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #ECF1F8;
}

.content-table tbody tr:first-of-type {
    border-top: 2px solid #AFC4E3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #AFC4E3;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #ECF1F8;
}

h1 {
    padding-top: 0.2em;
    padding-bottom: 0.1em;
    padding-left: 0.2em;
    margin-bottom:0;
    border-bottom: 2px solid #AFC4E3;
}

h4 {
    padding-left: 0.4em;
    margin-top: 0.2em;
    padding-top: 0;
    padding-bottom: 2cm;
}